<style>
  .scroll-view.scroll-xy {
    overflow-x: hidden;
    overflow-y: hidden; }
</style>
<ion-view view-title="Detail Item">
<ion-nav-buttons side="primary">
	<button class="button button-icon icon ion-ios-arrow-left" ng-click="back()">Back</button>    
</ion-nav-buttons>
<ion-content>
	<div class="list card">
		<div class="item">
			<h2 style="font-weight: bold;">{{title}}</h2>
			<p style="color:#aaa;">Category >> {{category}}</p>
			<p style="color:#aaa;">{{date}}</p>
		</div>
		<a class="item item-list-detail">
		  <ion-scroll direction="x">
			<img ng-repeat="itemImage in iImages" ng-src="{{itemImage.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
		  </ion-scroll>
		</a>
		<div class="item item-body">
			<pre style="font-family: Segoe UI, sans-serif;">{{description}}</pre>
			<p><a href="#" class="subdued">{{views}} Views</a></p>
		</div>
	</div>
	<button class="button button-block button-balanced" ng-click="editItem()">Edit</button>
</ion-content>
</ion-view>

<script id="EditItem.html" type="text/ng-template">
	<div class="modal" ng-controller="itemModal">
		<header class="bar bar-header bar-assertive">
          <h1 class="title">Update Item</h1>
        </header>
        <ion-content class="has-header">
		  <form name="edititem" novalidate>
			  <div class="list list-inset">
				<div class="row">
				 <div class="col item item-thumbnail-left" ng-repeat="editImage in eImages" style="border-width: 0px;">
					<img id="{{editImage.pic}}" src="{{editImage.src}}" ng-click="getPic({{editImage.indexPic}})">
					<div ng-style="{{editImage.cover}}" style="{{editImage.cstyle}}" class="cover"></div>
					<div ng-style="{{editImage.rmImage}}" style="{{editImage.rstyle}}" class="rmImage" ng-click="rmImage({{editImage.indexPic}})">
						<span class="height-fix">
							<a class="content">
								<i class="ion-minus-round"></i>
							</a>
						</span>
					</div>
					<div ng-style="{{editImage.spin}}" style="left: 30px; top: 30px; {{editImage.sstyle}}" class="spin spinner-calm" icon="android"></div>
				 </div>
				</div>
				  <label class="item item-input item-floating-label">
					  <span class="input-label">Title</span>
					  <input type="text" placeholder="Title" name="title" ng-model="item.title" maxlength="50" required>
				  </label>
				  <label class="item">
					<div class="input-label">
					  Type
					</div>
					  <ion-radio ng-repeat="type in typeList" ng-value="type.value" ng-model="item.type" ng-change="typeChange(type.value)"> {{ type.text }}</ion-radio>
				  </label>
				  <label class="item item-input item-select">
					<div class="input-label">
					  Category
					</div>
					<select name="category" ng-model="item.category" ng-options="category.name for category in categories track by category.code">
					  <option value="" selected hidden />
					</select>
				  </label>
				  <label class="item item-input item-floating-label">
					  <span class="input-label">Detail Description</span>
					  <textarea placeholder="Detail description" rows="10" ng-model="item.description" name="description" required></textarea>
				  </label>
			  </div>
			  <button class="button button-block button-positive" ng-click="updateItem()" ng-disabled="edititem.$invalid">Update</button></form>
			  <button class="button button-block button-stable" ng-click="cancelUpdate()">Cancel</button>
        </ion-content>
  </div>
</script>